@charset "utf-8";
/* CSS Document */

#key_access {position:fixed; top:0; width:100%; height:57px; text-align:center; overflow:hidden; z-index:-1;}
#key_access ul {position:relative;}
#key_access ul li {position:absolute; width:100%; height:57px; left:0; top:-9999px; background:#6d9bc0}
#key_access ul li.select {top:0;}
#key_access a {display:block; width:100%; height:57px; line-height:57px; color:#fff}
#loading_page {position:fixed; top:0px; bottom:0px;width:100%; height:100%; background:#fff; z-index:10000;}
#loading_page p {position:absolute; top:50%; left:50%; margin:-30px 0 0 -30px; font-size:48px; z-index:auto;}
#wrap {}
header {position: relative;  border-bottom:1px solid #acacac;}
header .utill-box {background: #f1f1f1;}
header .utill-box .inner-util {width: 1200px; margin: 0 auto;}
header .utill-box .inner-util:after {content:""; display:block; height:0; clear:both;}
header .utill-box .inner-util ul.ca_menu {float: left; border-bottom: 1px solid #f1f1f1; overflow: hidden;}
header .utill-box .inner-util ul.ca_menu li {float: left; width: 140px; text-align: center; border-right: 1px solid #f1f1f1; background: #fff;}
header .utill-box .inner-util ul.ca_menu li a {display: block; padding: 10px;}
header .utill-box .inner-util ul.ca_menu li a:hover {color: #fff; background: #86a0aa;}
header .utill-box .inner-util ul.top_link {float: right;}
header .utill-box .inner-util ul.top_link li {display:inline-block; padding:10px;}
header .utill-box .inner-util ul.top_link li a {}
header .utill-box .inner-util ul.top_link li a:hover {color:#333;}
header .utill-box .inner-util ul.top_link li:first-child a:before {display:none;}
header .utill-box .inner-util ul.top_link li a:before {content:""; display:inline-block; vertical-align: middle; width:1px; height:14px; margin:0 20px 0 0; background:#d7d7d7;}
header .inner-gnb {position: relative; width: 1200px; margin: 0 auto; margin-top: 20px;}
header .inner-gnb h1 {float: left; display:inline-block; width:250px; margin-right: -300px; line-height: 66px;}
header .inner-gnb h1 a {display: block;}
header .inner-gnb h1 a img {width:100%;}
header .inner-gnb #showleftUser,
header .inner-gnb #showRightPush,
header .inner-gnb nav {display: none;}
header .inner-gnb #loginForm {margin-left: 300px;}
header .inner-gnb #loginForm input[type="text"],
header .inner-gnb #loginForm input[type="password"] {width: 200px;}
header .inner-gnb #loginForm .ui.buttons {margin-left: 20px; vertical-align: middle;}
header .inner-gnb #loginForm .ui.dropdown {width: 200px;}
header .inner-gnb #gnb {padding: 15px 0; background:#fff;}
header .inner-gnb #gnb ul.dropdown {width:1200px; margin:0 auto; text-align: center;}
header .inner-gnb #gnb ul.dropdown:after {content:""; display:block; height:0; clear:both;}
header .inner-gnb #gnb ul.dropdown > li {position:relative; float: left; display: inline-block; font-weight:500;}
/*header .inner-gnb #gnb ul.dropdown > li > a:before {content:""; position:absolute; top:50%; left:-2px; width:1px; height:18px; margin-top:-9px; background:#cdcdcd;}*/
header .inner-gnb #gnb ul.dropdown > li:first-child > a:before {display:none;}
header .inner-gnb #gnb ul.dropdown a:hover {color:#000;}
header .inner-gnb #gnb ul.dropdown li a  {display:block; padding:12px 8px; font-size:18px; font-weight:500; color:#333; position:relative; text-align:center;}
header .inner-gnb #gnb ul.dropdown li a:hover,
header .inner-gnb #gnb ul.dropdown li a.hover {background:#071748; position:relative; color:#fff;}
header .inner-gnb #gnb ul.dropdown ul {display:none; position:absolute; top:0; left:0; width:100%; box-shadow: #333 1px 1px 5px; z-index:99;}
header .inner-gnb #gnb ul.dropdown ul li {width:100%; border-bottom:1px solid #ccc;}
header .inner-gnb #gnb ul.dropdown ul li:last-child {border-bottom:none;}
header .inner-gnb #gnb ul.dropdown ul li a {display:block; padding:12px 10px; font-size:14px; text-align:left; color:#34495e !important; background:#fff !important;}
header .inner-gnb #gnb ul.dropdown ul li a:hover {display:block; background:#f1f1f1 !important;}

#container {width:1200px; margin:40px auto;}
.mainvisual {position:relative; z-index:1; overflow:hidden;}
.mainvisual .contentBox {position:absolute; top:60px; left:50%; width:540px; margin-left:-600px; padding:20px; background:rgba(0,0,0,0.6); z-index:200;}
.mainvisual .contentBox strong {display: block; font-size:32px; font-weight:500; color:#fff;;}
.mainvisual .contentBox p.info {max-width: 480px; margin-top: 10px; font-size: 15px; color:#d7d7d7;}
.mainvisual .cycle-slideshow {text-align:center; height:370px;}
.mainvisual .cycle-slideshow .slide {text-align:center; width:100%; height:100%; background-size:cover !important;}
.mainvisual .pagerWrap {position:absolute; left:50%; bottom:20px; margin-left:-490px; width:980px; z-index:201; text-align:center;}
.mainvisual .pagerWrap #adv-custom-pager {display:inline-block;}
.mainvisual .pagerWrap #adv-custom-pager a{display:inline-block;width:18px;height:18px;margin-left:4px;background:url(../img/bg_pagerOff.png) 0 0 no-repeat; background-size:cover;}
.mainvisual .pagerWrap #adv-custom-pager a.cycle-pager-active{width:52px;background:url(../img/bg_pagerOn.png) 0 0 no-repeat; background-size:cover;}
.mainvisual .pagerWrap button {display:inline-block;width:18px;height:18px;vertical-align:top;border:none; font-size:0;line-height:0;text-indent:-999px;}
.mainvisual .pagerWrap .btnStop {background:url(../img/btn_stop.png) 0 0 no-repeat; background-size:cover;}
.mainvisual .pagerWrap .btnPlay {background:url(../img/btn_play.png) 0 0 no-repeat; background-size:cover;}
.banner-box {background: #f3f7f8;}
.banner-box .inner-banner {width: 1200px; margin: 0 auto; padding: 30px 0;}
.banner-box .inner-banner li {text-align:center;}
.banner-box .inner-banner li:last-child {margin-right:0;}
.banner-box .inner-banner li a {display:block; padding-top: 90px; font-size: 16px; color:#737c97; -webkit-filter:grayscale(100%); filter:grayscale(100%); -webkit-transition:.2s ease-in-out; transition:.2s ease-in-out;}
.banner-box .inner-banner li a:hover {color:#000; -webkit-filter:grayscale(0); filter:grayscale(0);}
/*.banner-box .inner-banner li a:hover {color:#fff200;}*/
.banner-box .inner-banner li a.banner1 {background:url(../img/quick_banner01.png) no-repeat; background-position:center 0;}
.banner-box .inner-banner li a.banner2 {background:url(../img/quick_banner02.png) no-repeat; background-position:center 0;}
.banner-box .inner-banner li a.banner3 {background:url(../img/quick_banner03.png) no-repeat; background-position:center 0;}
.banner-box .inner-banner li a.banner4 {background:url(../img/quick_banner04.png) no-repeat; background-position:center 0;}
.banner-box .inner-banner li a.banner5 {background:url(../img/quick_banner05.png) no-repeat; background-position:center 0;}
.banner-box .inner-banner li a.banner6 {background:url(../img/quick_banner06.png) no-repeat; background-position:center 0;}
.banner-box .inner-banner li a.banner7 {background:url(../img/quick_banner07.png) no-repeat; background-position:center 0;}
.banner-box .inner-banner li a.banner8 {background:url(../img/quick_banner08.png) no-repeat; background-position:center 0;}


.grid-main {}
.grid-main:after {content:""; display:block; height:0; clear:both;}
.grid-main-box {position: relative; float:left; height: 230px; margin:.66%; padding:10px; vertical-align:top; background:#fff;}
.border-type {border-radius:3px; border:1px solid #d9d9d9; box-sizing:border-box; box-shadow: #f1f1f1 1px 1px 5px;}
.grid-main-box .header {position:relative; margin-bottom: 10px; padding-bottom:10px; border-bottom:1px solid #e9e9e9;}
.grid-main-box .header:after {content:""; display:block; height:0; clear:both;}
.grid-main-box .header h2 {position:relative; width: calc(100% - 40px); font-size:18px; color:#333;}
.grid-main-box .header .more {position:absolute; top:4px; right:0; color:#949494; z-index:auto;}
.grid-main-box .content.scrollbar {height: calc(100% - 48px); overflow: hidden;}
.grid-main-box ul.boardTab {line-height:32px; margin-bottom: 10px; padding-bottom:5px; overflow: hidden;}
.grid-main-box ul.boardTab li {display:inline; float:left; width:140px; margin-right: 5px;}
.grid-main-box ul.boardTab li:last-child {margin-right: 0;}
.grid-main-box ul.boardTab li a {display:block; padding: 2px 0; font-size:14px; text-align: center; font-weight:500; color:#333; border: 1px solid #333;}
.grid-main-box ul.boardTab li.select {}
.grid-main-box ul.boardTab li.select a {color:#fff; background: #333;}
.grid-main-box ul.board-latest {position: relative;}
.grid-main-box ul.board-latest .tab_content {display:none;}
.grid-main-box ul.board-latest .tab_content .more {position:absolute; top:-46px; right:0; color:#949494 !important; z-index:auto;}
.grid-main-box ul.board-latest li {line-height:28px;}
.grid-main-box ul.board-latest li span.boardTxt {float:left; width:80%; overflow:hidden; text-indent:8px; white-space:nowrap; text-overflow:ellipsis; background:url(../img/icon_dot.gif) left 50% no-repeat;}
.grid-main-box ul.board-latest li span.boardDate {float:right; width:20%; font-family:'Century Gothic'; color:#acacac; text-align:right;}
.board-items a {display:block;}
.board-items strong {display:block; font-size:18px; color:#000; font-weight:normal; padding-bottom:10px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal}
.board-items strong span {margin-right: 5px; color:#7c5327;}
.board-items .cont {padding-top:10px; height:50px; display:block; text-overflow:ellipsis; text-align:justify; overflow:hidden; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical;}
.board-items .date {font-family:'Century Gothic'; font-size:14px; color:#222; display:block; padding-bottom:10px; border-bottom:1px solid #ecedee;}
.board-items .slick-prev, .board-items .slick-next {top: 140px; width: 32px; height: 32px;}
.board-items .slick-prev {left: calc(100% - 63px);}
.board-items .slick-next {right: 0;}
ul.gallery-latest {}
ul.gallery-latest li {margin: 0 5px;}
ul.gallery-latest li .thumb {width:100%; height:130px;}
ul.gallery-latest li span.boardTxt {display:block; width:100%; margin-top:10px; text-align:center; text-indent:8px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
ul.my-class {}
ul.my-class li {position:relative; line-height:30px; vertical-align:top; overflow:hidden;}
ul.my-class li a {}
ul.my-class li span.boardTxt {display:inline-block; width:calc(100% - 100px); overflow:hidden; white-space:nowrap; text-overflow:ellipsis; vertical-align:middle;}
ul.my-class li span.boardBtn {display:inline-block; width:100px; font-size:12px; color:#333; text-align:right; vertical-align:middle;}
ul.my-class li span.boardBtn button {display: inline-block; margin-left: 5px; padding: 4px 8px; line-height: 18px; font-size: 12px; color: #fff; text-align: center; border-radius: 2px; background: #12314f;}
.cyber-campus {display: block; position: relative; width: 100%; height: 100%;}
.cyber-campus span.bg {display: block; width: 100%; height: 100%; text-align: center; background: url(../img/cyber_campus_bg.gif) center top no-repeat;}
.cyber-campus span.bg img {margin-top: 40px;}
.cyber-campus span.over-item {display:block; position:absolute; top:0; left:0; width:100%; height:100%; background:#fead12;}
.cyber-campus .tit-area {position:absolute; top:0; left:0; width:100%; height:100%}
.cyber-campus .tit-area > * {display:block; width:100%; text-align:center}
.cyber-campus .tit-area .tit {position:absolute; width:100%; margin-top:30px; font-size: 21px; color: #333;}
.cyber-campus .tit-area .tit span {display:block; font-size: 14px; font-weight: 400; color: #999;}
.cyber-campus .tit-area .txt {position:absolute; width:100%; font-size: 26px; color: #333;}
.cyber-campus .tit-area .txt span {display:block; font-size: 14px; font-weight: 400; color: #a35610;}
.cyber-campus .tit-area .txt i {display:inline-block; margin-top: 10px; padding: 3px 10px; font-size: 13px; font-weight: 400; font-style: normal; color: #fff; border: 1px solid #fff;}

.view-img {display:inline-block; margin: 0 auto; position:relative; vertical-align: middle; border-radius: 100%; overflow: hidden;}
.view-img img {position:absolute; top:-10%; left:0; width:100%;}

.foot-link {border-top:1px solid #d7d7d7;}
.footInf {width:1200px; margin:0 auto; padding:10px 0;}
.footInf a.linkCompany {margin:0 20px; font-size:15px; font-weight:700; line-height:80px;}
.footInf #banner {position:relative;}
.footInf #banner ul {}
.footInf #banner ul li {text-align: center;}
.footInf #banner ul li img  {display:inline-block;}
.footInf #banner .slick-prev,
.footInf #banner .slick-next {border: none;}


footer {width: 100%; padding: 20px 2%; border-top: 1px solid #d7d7d7;}
footer:after {display:block; clear:both; content:''}
footer .foot-link {background:#d5e0e6;}
footer .foot-link ul {}
footer .foot-link ul li {display:inline-block; padding:10px; color:#cad2db;}
footer .foot-link ul li a {display: block;}
footer .foot-link ul li a:hover {color:#3d526b;}
footer .foot-link ul li:first-child a:before {display:none;}
footer .foot-link ul li a:before {content:""; display:inline-block; vertical-align: middle; width:1px; height:11px; margin:0 20px 0 0; background:#97a6b7;}
footer .inner-wrap {position:relative;}
footer .inner-wrap:after {display:block; clear:both; content:''}
footer .inner-wrap ul.sub-util {}
footer .inner-wrap ul.sub-util li {display:inline-block; padding:10px; font-size:12px;}
footer .inner-wrap ul.sub-util li a {}
footer .inner-wrap ul.sub-util li a:hover {color:#333;}
footer .inner-wrap ul.sub-util li:first-child a:before {display:none;}
footer .inner-wrap ul.sub-util li a:before {content:""; display:inline-block; vertical-align: middle; width:1px; height:11px; margin:0 20px 0 0; background:#97a6b7;}
footer .inner-wrap .logo-b {clear:both; float:left; width:142px; height:46px; margin-top:15px; margin-right:-160px; text-indent:-9999px; background:url(../img/logo_b.png); background-size:cover;}
footer .inner-wrap ul.copy {text-align: center;}
footer .inner-wrap ul.copy li {padding:2px 0; font-size:13px; color:#acacac;}
footer .inner-wrap ul.copy li address {font-style:normal;}
footer .inner-wrap .expand-link {position:absolute; top:8px; right:0; z-index:auto;}
footer .inner-wrap .expand-link .chosen-drop {margin-bottom:-11px; border-bottom:0; border-top:1px solid #aaa; top:auto; bottom:40px;}
footer .inner-wrap .expand-link .chosen-single {color:#ccc !important; background:none;}



/* TOP SCROLL 요소 */
#toTop {display:none; position:fixed; right:10px; bottom:10px; width:40px; height:40px; font-size:0; text-indent:-1000px; text-align:center; color:#fff; background:url('../img/toTop.png') center center no-repeat #777; opacity:0.8; border-radius:20px; z-index:1001;}
#toTop:hover, #toTop:focus, #toTop.hover {background-color:#CD8F47;}

#pageSliderDescription {position:absolute; left:-999em; display:inline-block; width:0; height:0;}

/* 검색 및 준비중인 페이지 CSS */
.page_none {width:740px; margin:200px auto; border:5px solid #e3e4e9; background:#f3f3f3 url(../img/page_none.png) 10% 50% no-repeat; background-size:20%; overflow:hidden;}
.page_none ul {float:right; width:500px; padding-bottom:20px;}
.page_none ul li {padding:5px 8px; background:url(../img/icon_dot.gif) left 14px no-repeat;}
.page_none ul li:first-child {padding:20px 0; font-size:24px; font-weight:500; background:none;}
.page_none ul li span {color:#ff540e;}
.page_none a {display:block; width:100px; margin:0 auto; margin-bottom:20px; padding:5px 10px; font-size:15px; text-align:center; color:#fff; background:#7684a0;}


@media all and (max-width:1217px){
    body {font-size: 13px;}
    header .utill-box .inner-util,
    header .inner-gnb #gnb ul.dropdown {width: 100%;}
    header .inner-gnb,
    #container {width: 96%;}
    .mainvisual .contentBox {left: 2%; margin-left: 0;}
    .mainvisual .cycle-slideshow {height: 300px; transition: all .3s;}
    .banner-box .inner-banner,
    .footInf {width: 86%;}
}

@media all and (max-width:768px){
    header {border-bottom: none;}
    header .inner-gnb {margin-bottom: 20px;}
    header .inner-gnb h1 {float: none; display: block; margin: 0 auto;}
    header .inner-gnb #loginForm .ui.segment:first-child,
    header .inner-gnb #loginForm .ui.segment:last-child {margin: 20px 0 0 0;}
    header .inner-gnb #showRightPush {position: absolute; top: 8px; right: 0; display: inline-block; width: 50px; height: 50px; background: #222; z-index: 999;}
    header .inner-gnb #showRightPush span {display:inline-block; width:22px; height:16px; text-indent:-9999px; margin: 18px 0 0 14px; background:url(../img/gnb_ico.png) no-repeat;}
    header .inner-gnb #showRightPush.active span {margin: 18px 0 0 16px; background:url(../img/gnb_ico.png) -27px 0 no-repeat;}
    .cbp-spmenu-vertical {width:240px; height:100%; top:0; overflow-y:auto;}
    .cbp-spmenu-right {right:-240px;}
    .cbp-spmenu-right.cbp-spmenu-open {right:0px;}
    .cbp-spmenu-push {overflow-x:hidden; position:relative; left:0;}
    .cbp-spmenu-push-toleft {left:-240px;}
    /*.cbp-spmenu, .cbp-spmenu-push {-webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; transition:all 0.3s ease;}*/
    header .inner-gnb nav {display: block; position:fixed; background:#333; z-index: 999;}
    header .inner-gnb nav ul.navList {}
    header .inner-gnb nav ul.navList > li {position:relative; text-align:left; border-bottom:1px solid #555;}
    header .inner-gnb nav ul.navList > li > a {display:block; font-size:16px; text-indent:20px; line-height:48px; color:#d7d7d7; background:url(../img/m_gnb_down.png) calc(100% - 20px) 50% no-repeat; background-size:16px;}
    header .inner-gnb nav ul.navList > li a span {position:inherit; padding:0;}
    header .inner-gnb nav ul.navList > li:first-child {border-top:1px solid #555;}
    header .inner-gnb nav ul.navList > li.on > a {color:#fff; background:url(../img/m_gnb_up.png) calc(100% - 20px) 50% no-repeat; background-size:16px;}
    header .inner-gnb nav ul.navList > li.on .twoDep {display:block;}
    header .inner-gnb nav ul.navList > li.subNone > a {background:none;}
    header .inner-gnb nav ul.navList .twoDep {display:none;}
    header .inner-gnb nav ul.navList .twoDep ul {padding:5px 0; background:#555;}
    header .inner-gnb nav ul.navList .twoDep ul li a {display:block; font-size:14px; line-height:32px; text-indent:20px; color:#ccc;}
    header .inner-gnb nav ul.navList .twoDep ul li span:before {margin-right:5px;}
    header .inner-gnb nav ul.navList .twoDep ul li a:hover {color:#fff;}
    header .inner-gnb .overlay {position: fixed; display: none; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.4); z-index: 998;}
    header .inner-gnb #loginForm {margin-left: 0;}
    header .inner-gnb #gnb {display: none;}
    .mainvisual .contentBox {left: 0;}
    .mainvisual .contentBox strong {font-size: 24px;}
    .banner-box .inner-banner {padding: 15px 0;}
    .banner-box .inner-banner li a {padding-top: 70px; font-size: 14px; background-size: 60px !important;}
    .cyber-campus span.over-item,
    .cyber-campus .tit-area .txt {display: none;}
    .cyber-campus .tit-area .tit {top: 120px !important;}
}

@media all and (max-width:767px){
    body {font-size: 12px;}

}

@media all and (max-width:480px){
    header .utill-box .inner-util ul.ca_menu {float: none;}
    header .utill-box .inner-util ul.ca_menu li {width: 33.33%;}
    header .inner-gnb h1 {width: 200px;}
    header .inner-gnb #showleftUser {display: block; position: absolute; top: 10px; left: 0; width: 50px; height: 50px;}
    header .inner-gnb #showRightPush {background: none;}
    header .inner-gnb #showRightPush span {background-position: 0 -17px;}
    header .inner-gnb #showRightPush.active span {background-position: -27px -17px;}
    header .inner-gnb #loginForm {display: none;}
    header .inner-gnb #loginForm .ui.form .fields > .field {width: 100%;}
    header .inner-gnb #loginForm input[type="text"],
    header .inner-gnb #loginForm input[type="password"] {margin-bottom: 5px;}
    header .inner-gnb #loginForm > .ui.button {width: 100%; margin-left: 0.5em; margin-right: 0.5em;}
    header .inner-gnb #loginForm .ui.buttons {width: 100%; margin: 5px 0;}
    header .inner-gnb #loginForm .ui.dropdown {width: 100%;}
    .mainvisual {display: none;}
    .banner-box .inner-banner li a {padding-top: 50px; font-size: 13px; background-size: 40px !important;}
    .grid-main-box {height: auto; min-height: 230px;}
    .grid-main-box .header h2 {font-size: 16px;}
    .border-type {border: none; box-shadow:none;}
    ul.gallery-latest li .thumb {height: 180px;}
    .banner-box .inner-banner, .footInf {width: 68%;}
    footer .inner-wrap ul.copy li {font-size: 12px;}
}
