

    <div id="loading_page">
        <p><i class="notched circle loading icon"></i></p>
    </div>
    <div id="wrap">
        <div id="container">
            <div class="option-content">
                <h2 class="hmap"><%= etestName %></h2>
                <div class="button-area tc">
                    <a href="quiz_view_choice_result.jsp" class="ui yellow large button"><i class="checkmark icon"></i>퀴즈 제출</a>
                </div>
            </div>
            <div class="ui horizontal divider item-num">2/5</div>
            <div class="ui form">
                <div class="inline fields">
                    <div class="field">
                        <label class="mr10">총 참가자</label>10/20명
                    </div>
                    <div class="field">
                        <a href="#0" class="ui red button">답안 보여주기</a>
                    </div>
                </div>
            </div>
            <div class="ui form">
<!--                <img class="ui centered big image" src="https://www.yamanaka-spa.or.jp/global/kor/images/history_01_main.jpg">-->
                <div class="ui attached message">
                    <div class="header">문학이 현대사회에서 미치는 영향을 고르시오.</div>
                </div>
                <div class="ui bottom attached segment">
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" name="01" tabindex="0" class="hidden">
                            <label class="question num01">21세기의 문학도들이 보다 쉽게 문학에 다가설 수 있도록 하였다.</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" name="01" tabindex="0" class="hidden">
                            <label class="question num02">한 사회의 거울이며 현실의 반영물인 문학에 대한 논의가 가능해질 것이다.</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" name="01" tabindex="0" class="hidden">
                            <label class="question num03">한국 문학의 영역과 갈래가 확연히 구분되었다.</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" name="01" tabindex="0" class="hidden">
                            <label class="question num04">문학의 개념이 개인주의에서 사회주의로 바뀌었다.</label>
                        </div>
                    </div>
                </div>
<!--
                <div class="field">
                    <label>사전설명</label>
                    <div class="ui info message">18세기 낭만주의의 태동과 철학자 칸트에 의해 제기된 것으로 인간의 순수 이성으로는 표현이 불가능한 것이 있다는 전제하에, 문학은 인간의 유희적 본능에서 시작되었다는 것이다.</div>
                </div>
-->
            </div>
            <div class="wrap_btn">
                <a class="ui basic button fl"><i class="long arrow left icon"></i>이전문항</a>
                <a class="ui basic button fr">다음문항<i class="long arrow right icon"></i></a>
            </div>
        </div>
    </div>
